#miCanvas { 
    background-image: url("../Imagenes/FondoTablero.png"); 
    margin: 0 20px; 
}

.cabecera{
    margin-bottom: 0;
    margin-left: 20px;
    background-color: grey;
    width: 1024px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#tiempo, #cartastotal, #maxcartas{
    
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mostrar {
    width: 100%;
    display: flex;
}
.canvas{
    width: 60%;
}

.demascosas{
    width: 40%;
}
